# build artifacts
**/builds/
*.o
*.elf
*.bin
*.map

# assemblys
**/asms/
*.s

# IDE
**/.vscode/
*.swp
*.code-workspace

# os
.DS_Store
Thumbs.db

# backups
*.backup

# reference projects
**/reference-projects/
